body {
    background-image: url(/old-books-436498_1920.jpg);
    /* Image by <a href="https://pixabay.com/users/jarmoluk-143740/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=436498">Michal Jarmoluk</a> from <a href="https://pixabay.com//?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=436498">Pixabay</a> */
    background-position: center;
    background-size: cover;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.media-player-section {
    position: relative;
    z-index: 1;
}
.media-player-section::before {
    content: '';
    background-color: #474747;
    position: absolute;
    top:0;
    bottom:0;
    right: 0;
    left: 0;
    padding: 1em;
    opacity: .8;
    z-index: 9;
}

.audio-track {
    width: 150px;
    height: 3px;
    background-color: #ddd;
    margin: 20px 0
}
 
.time {
    width: 0;
    height: 3px;
    background-color: #474747
}

#controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.controls_settings {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}